html, body, video {
  height: 100%;
  width: 100%;
  background-color: transparent;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

video {
  object-fit: fill;
}

audio {
  display: none;
}

footer {
  color: #fafbfc;
  background-color: #262829;
  padding: 15px 10px;
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
}

input[type='checkbox'] {
  bottom: 1px;
  vertical-align: middle;
  position: relative;
}

#snap-buttons {
  right: 30px;
  position: absolute;
  display: inline-block;
}

.filter {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
