html, body, video {
  height: 100%;
  width: 100%;
  background-color: transparent;
}

video {
  object-fit: fill;
}

audio {
  display: none;
}

#snap {
  position: absolute;
  bottom: 10px;
  left: 40%;
}

#multi-snap {
  position: absolute;
  bottom: 10px;
  left: 60%;
}

#filter {
  position: absolute;
  bottom: 10px;
  left: 20%;
}

.filter {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
